.settings/
board/
CMSIS/
component/
device/
doc/
drivers/
freertos/
https_server/
linkscripts/
llhttp/
lwip/
mbedtls/include/psa
mbedtls/library/
mbedtls/port
startup/
utilities/
.project
*.launch
*.jlink
*.d
*.o
*.su
*.mk